@media (max-width: 350px) {


  .vitalimg {
    margin-left: 90px;
    width: 70%;
    
  }

  .yc {
    margin-left: 4px;
  }

  .loc {
    margin-left: 1px;
  }

  .firi, .seci, .thii {
      height: 50px;
      width: 75px;
  }

  .nabar {
    margin-top: 4px;
    font-size: xx-small;
    margin-right: 4px;
    width:100%;
  }

 
}

@media (min-width: 351px) and (max-width: 750px) {
  
  .nabar {
    font-size: small;
  }

  

}

@media (min-width: 751px) and (max-width: 999px) {


  .nabar {
    font-size: medium;
  }

 

}

@media (min-width: 1000px) {

  .nabar {
    font-size: small;
  }

 

}