@media (max-width: 350px) {


  .vitalimg {
    display: flex;
    justify-items: center;
    margin-top: -120%;
    width: 70%;
    
  }

  .yc {
    margin-left: 4px;
  }

  .catim {
    grid-template-columns: 1fr;
  }

  .loc {
    margin-left: 24px;
  }

  .firi {
    
    margin-top: -30%;
      margin-bottom: 24px;
        height: 170px;
        width: 250px;
    
  } .seci {
      margin-bottom: 24px;
        height: 170px;
        width: 250px;
    }
   .thii {
    margin-bottom: 24px;
      height: 170px;
      width: 250px;
  }

  .nabar {
    margin-top: 4px;
    font-size: xx-small;
    margin-right: 4px;
    width:100%;
  }

 
}

@media (min-width: 351px) and (max-width: 750px) {
  
  .vitalimg {
    display: flex;
    justify-items: center;
    margin-top: -350px;
    width: 70%;
    
  }

  .yc {
    margin-left: 4px;
  }

  .catim {
    grid-template-columns: 1fr;
  }

  .loc {
    margin-left: 24px;
  }

  .firi {
    
    margin-top: -90px;
      margin-bottom: 24px;
        height: 170px;
        width: 250px;
    
  } .seci {
      margin-bottom: 24px;
        height: 170px;
        width: 250px;
        
    }
   .thii {
    margin-bottom: 24px;
      height: 170px;
      width: 250px;
  }

  .nabar {
    margin-top: 4px;
    font-size: small;
    margin-right: 4px;
    width:100%;
  }
  

}

@media (min-width: 751px) and (max-width: 999px) {


  .vitalimg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -350px;
    width: 100%;
    
  }

  .yc {
    margin-left: 140px;
    
  }

  .catim {
    grid-template-columns: 1fr;
  }

  .loc {
    margin-left: 270px;
  }

  .firi {
    
    margin-top: -70px;
      margin-bottom: 24px;
        height: 170px;
        width: 250px;
        
    
  } .seci {
      margin-bottom: 24px;
        height: 170px;
        width: 250px;
        
    }
   .thii {
    margin-bottom: 24px;
      height: 170px;
      width: 250px;
      
  }

  .nabar {
    margin-top: 4px;
    font-size: medium;
    margin-right: 4px;
    width:100%;
  }
 

}

@media (min-width: 1000px) {

  .nabar {
    font-size: small;
  }

 

}